.ulMiembros {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.4rem;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.ulMiembros li {
  display: grid;
  grid-template-columns: 4.8rem 1fr auto;
  align-items: center;
  column-gap: 1.6rem;
  padding: 1.2rem;
  border-radius: 7px;
  transition: 0.5s;
  background-color: var(--color-lightest);
}

.ulMiembros li:hover {
  background-color: var(--color-light);
}

.ulMiembros li .button {
  grid-row: span 2;
  grid-column: 3;
}

.ulMiembros > .button {
  float: right;
  margin-right: 1.2rem;
}

.infoPer .infoIglesia {
  display: flex;
  flex-wrap: wrap;
}
