@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Mulish:wght@300;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  color: #042E54;
  font-family: 'Mulish', sans-serif;
  background-color: white;
}

 header{
  display: flex;
  background-color: #042E54;
} 

main{
  display: flex;
  gap: 50px;
}

#titulo{
  padding: 15px 20px 50px;
  width: 100%;
  height: 100px;
  text-align: center;
  color: white;
  font-size:xx-large;
}

 #navega{
  height: 100vh;
  padding: 20px; 
}

nav ul {
    list-style:none;
}
  
nav ul li a{
    text-decoration:none;
    display:block;
    border-bottom:1px solid #222;
    padding-bottom: 5px;
    color: #042E54;
}
  
nav ul li a:hover {
    background-color:#042E54;
    color:#fff;
  }

  /*FORMULARIO*/
#formChurchInfo{
  width: 50%;
}

#formChurchInfo> h4 {
  text-align: center;
  margin: 10px;
}
#infoIg> input {
  height: 35px;
  padding: 8px;
}

#infoIg> select {
  height: 35px;
  padding: 8px;
}
#infoIg{
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid gainsboro;
  border-radius: 15px;
  box-shadow: 0px 0px 20px;
}



/*IGLESIA*/
#subMainIglesia{
  display: flex;
  flex-direction: column;
}

#subMainIglesia > a{
 margin: 10px;
 padding: 10px;
 text-decoration:none;
 color: #053f77;
} 

#subMainIglesia > a:hover {
  background-color:#042E54;
  color:#fff;
  border-radius: 25px;
}
